function Square.new 0
push constant 3
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 2
call draw 0
push this 0
return
function Square.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Square.draw 0
push argument 0
pop pointer 0
push this 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 1
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Square.erase 0
push argument 0
pop pointer 0
push this 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 1
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Square.incSize 0
push argument 0
pop pointer 0
push this 0
not
if-goto ifFalse.136
call erase 0
push this 2
pop this 2
call draw 0
goto endIf.136
label ifFalse.136
label endIf.136
push constant 0
return
function Square.decSize 0
push argument 0
pop pointer 0
push this 2
not
if-goto ifFalse.166
call erase 0
push this 2
pop this 2
call draw 0
goto endIf.166
label ifFalse.166
label endIf.166
push constant 0
return
function Square.moveUp 0
push argument 0
pop pointer 0
push this 1
not
if-goto ifFalse.196
push this 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 1
call Screen.drawRectangle 4
pop temp 0
push this 1
pop this 1
push this 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 1
call Screen.drawRectangle 4
pop temp 0
goto endIf.196
label ifFalse.196
label endIf.196
push constant 0
return
function Square.moveDown 0
push argument 0
pop pointer 0
push this 1
not
if-goto ifFalse.260
push this 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 1
call Screen.drawRectangle 4
pop temp 0
push this 1
pop this 1
push this 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 1
call Screen.drawRectangle 4
pop temp 0
goto endIf.260
label ifFalse.260
label endIf.260
push constant 0
return
function Square.moveLeft 0
push argument 0
pop pointer 0
push this 0
not
if-goto ifFalse.324
push this 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 1
call Screen.drawRectangle 4
pop temp 0
push this 0
pop this 0
push this 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 1
call Screen.drawRectangle 4
pop temp 0
goto endIf.324
label ifFalse.324
label endIf.324
push constant 0
return
function Square.moveRight 0
push argument 0
pop pointer 0
push this 0
not
if-goto ifFalse.388
push this 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 1
call Screen.drawRectangle 4
pop temp 0
push this 0
pop this 0
push this 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 1
call Screen.drawRectangle 4
pop temp 0
goto endIf.388
label ifFalse.388
label endIf.388
push constant 0
return


//class symbol table
//name: x
//type: int
//kind: field
//number: 0
//name: y
//type: int
//kind: field
//number: 1
//name: size
//type: int
//kind: field
//number: 2


//method's symbol table
//name: Ax
//type: int
//kind: argument
//number: 0
//name: Ay
//type: int
//kind: argument
//number: 1
//name: Asize
//type: int
//kind: argument
//number: 2
//name: x
//type: int
//kind: this
//number: 0
//name: y
//type: int
//kind: this
//number: 1
//name: size
//type: int
//kind: this
//number: 2


//method's symbol table
//name: this
//type: Square
//kind: argument
//number: 0
//name: x
//type: int
//kind: this
//number: 0
//name: y
//type: int
//kind: this
//number: 1
//name: size
//type: int
//kind: this
//number: 2


//method's symbol table
//name: this
//type: Square
//kind: argument
//number: 0
//name: x
//type: int
//kind: this
//number: 0
//name: y
//type: int
//kind: this
//number: 1
//name: size
//type: int
//kind: this
//number: 2


//method's symbol table
//name: this
//type: Square
//kind: argument
//number: 0
//name: x
//type: int
//kind: this
//number: 0
//name: y
//type: int
//kind: this
//number: 1
//name: size
//type: int
//kind: this
//number: 2


//method's symbol table
//name: this
//type: Square
//kind: argument
//number: 0
//name: x
//type: int
//kind: this
//number: 0
//name: y
//type: int
//kind: this
//number: 1
//name: size
//type: int
//kind: this
//number: 2


//method's symbol table
//name: this
//type: Square
//kind: argument
//number: 0
//name: x
//type: int
//kind: this
//number: 0
//name: y
//type: int
//kind: this
//number: 1
//name: size
//type: int
//kind: this
//number: 2


//method's symbol table
//name: this
//type: Square
//kind: argument
//number: 0
//name: x
//type: int
//kind: this
//number: 0
//name: y
//type: int
//kind: this
//number: 1
//name: size
//type: int
//kind: this
//number: 2


//method's symbol table
//name: this
//type: Square
//kind: argument
//number: 0
//name: x
//type: int
//kind: this
//number: 0
//name: y
//type: int
//kind: this
//number: 1
//name: size
//type: int
//kind: this
//number: 2


//method's symbol table
//name: this
//type: Square
//kind: argument
//number: 0
//name: x
//type: int
//kind: this
//number: 0
//name: y
//type: int
//kind: this
//number: 1
//name: size
//type: int
//kind: this
//number: 2


//method's symbol table
//name: this
//type: Square
//kind: argument
//number: 0
//name: x
//type: int
//kind: this
//number: 0
//name: y
//type: int
//kind: this
//number: 1
//name: size
//type: int
//kind: this
//number: 2


