function Square.new 0
push constant 3
call Memory.alloc 1
pop pointer 0
push argument 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push argument 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push argument 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
call draw 0
push this 0
return
function Square.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Square.draw 0
push argument 0
pop pointer 0
push this 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 1
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Square.erase 0
push argument 0
pop pointer 0
push this 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 1
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Square.incSize 0
push argument 0
pop pointer 0
push this 0
not
if-goto false.136
call erase 0
pop temp 0
push this 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
call draw 0
pop temp 0
goto end.136
label false.136
label end.136
push constant 0
return
function Square.decSize 0
push argument 0
pop pointer 0
push this 2
not
if-goto false.166
call erase 0
pop temp 0
push this 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
call draw 0
pop temp 0
goto end.166
label false.166
label end.166
push constant 0
return
function Square.moveUp 0
push argument 0
pop pointer 0
push this 1
not
if-goto false.196
push this 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 1
call Screen.drawRectangle 4
pop temp 0
push this 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 1
call Screen.drawRectangle 4
pop temp 0
goto end.196
label false.196
label end.196
push constant 0
return
function Square.moveDown 0
push argument 0
pop pointer 0
push this 1
not
if-goto false.260
push this 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 1
call Screen.drawRectangle 4
pop temp 0
push this 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 1
call Screen.drawRectangle 4
pop temp 0
goto end.260
label false.260
label end.260
push constant 0
return
function Square.moveLeft 0
push argument 0
pop pointer 0
push this 0
not
if-goto false.324
push this 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 1
call Screen.drawRectangle 4
pop temp 0
push this 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 1
call Screen.drawRectangle 4
pop temp 0
goto end.324
label false.324
label end.324
push constant 0
return
function Square.moveRight 0
push argument 0
pop pointer 0
push this 0
not
if-goto false.388
push this 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 1
call Screen.drawRectangle 4
pop temp 0
push this 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 1
call Screen.drawRectangle 4
pop temp 0
goto end.388
label false.388
label end.388
push constant 0
return
