function Ball.new 0
push constant 15
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 10
push argument 3
push constant 6
sub
pop this 11
push argument 4
pop this 12
push argument 5
push constant 6
sub
pop this 13
push constant 0
pop this 14
push pointer 0
call Ball.show 1
pop temp 0
push pointer 0
return
function Ball.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Ball.show 0
push argument 0
pop pointer 0
push constant 1
neg
call Screen.setColor 1
pop temp 0
push pointer 0
call Ball.draw 1
pop temp 0
push constant 0
return
function Ball.hide 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push pointer 0
call Ball.draw 1
pop temp 0
push constant 0
return
function Ball.draw 0
push argument 0
pop pointer 0
push this 0
push this 1
push this 0
push constant 5
add
push this 1
push constant 5
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Ball.getLeft 0
push argument 0
pop pointer 0
push this 0
return
function Ball.getRight 0
push argument 0
pop pointer 0
push this 0
push constant 5
add
return
function Ball.setDestination 3
push argument 0
pop pointer 0
push argument 1
push this 0
sub
pop this 2
push argument 2
push this 1
sub
pop this 3
push this 2
call Math.abs 1
pop local 0
push this 3
call Math.abs 1
pop local 1
push local 0
push local 1
lt
pop this 7
push this 7
not
if-goto ifFalse.288
push local 0
pop local 2
push local 1
pop local 0
push local 2
pop local 1
push this 1
push argument 2
lt
pop this 8
push this 0
push argument 1
lt
pop this 9
goto endIf.288
label ifFalse.288
push this 0
push argument 1
lt
pop this 8
push this 1
push argument 2
lt
pop this 9
label endIf.288
push constant 2
push local 1
call Math.multiply 2
push local 0
sub
pop this 4
push constant 2
push local 1
call Math.multiply 2
pop this 5
push constant 2
push local 1
push local 0
sub
call Math.multiply 2
pop this 6
push constant 0
return
function Ball.move 0
push argument 0
pop pointer 0
push pointer 0
call Ball.hide 1
pop temp 0
push this 4
push constant 0
lt
not
if-goto ifFalse.391
push this 4
push this 5
add
pop this 4
goto endIf.391
label ifFalse.391
push this 4
push this 6
add
pop this 4
push this 9
not
if-goto ifFalse.415
push this 7
not
if-goto ifFalse.420
push this 0
push constant 4
add
pop this 0
goto endIf.420
label ifFalse.420
push this 1
push constant 4
add
pop this 1
label endIf.420
goto endIf.415
label ifFalse.415
push this 7
not
if-goto ifFalse.446
push this 0
push constant 4
sub
pop this 0
goto endIf.446
label ifFalse.446
push this 1
push constant 4
sub
pop this 1
label endIf.446
label endIf.415
label endIf.391
push this 8
not
if-goto ifFalse.471
push this 7
not
if-goto ifFalse.476
push this 1
push constant 4
add
pop this 1
goto endIf.476
label ifFalse.476
push this 0
push constant 4
add
pop this 0
label endIf.476
goto endIf.471
label ifFalse.471
push this 7
not
if-goto ifFalse.502
push this 1
push constant 4
sub
pop this 1
goto endIf.502
label ifFalse.502
push this 0
push constant 4
sub
pop this 0
label endIf.502
label endIf.471
push this 0
push this 10
gt
not
not
if-goto ifFalse.526
push constant 1
pop this 14
push this 10
pop this 0
goto endIf.526
label ifFalse.526
label endIf.526
push this 0
push this 11
lt
not
not
if-goto ifFalse.547
push constant 2
pop this 14
push this 11
pop this 0
goto endIf.547
label ifFalse.547
label endIf.547
push this 1
push this 12
gt
not
not
if-goto ifFalse.568
push constant 3
pop this 14
push this 12
pop this 1
goto endIf.568
label ifFalse.568
label endIf.568
push this 1
push this 13
lt
not
not
if-goto ifFalse.589
push constant 4
pop this 14
push this 13
pop this 1
goto endIf.589
label ifFalse.589
label endIf.589
push pointer 0
call Ball.show 1
pop temp 0
push this 14
return
function Ball.bounce 5
push argument 0
pop pointer 0
push this 2
push constant 10
call Math.divide 2
pop local 2
push this 3
push constant 10
call Math.divide 2
pop local 3
push argument 1
push constant 0
eq
not
if-goto ifFalse.653
push constant 10
pop local 4
goto endIf.653
label ifFalse.653
push this 2
push constant 0
lt
not
push argument 1
push constant 1
eq
and
push this 2
push constant 0
lt
push argument 1
push constant 1
neg
eq
and
or
not
if-goto ifFalse.668
push constant 20
pop local 4
goto endIf.668
label ifFalse.668
push constant 5
pop local 4
label endIf.668
label endIf.653
push this 14
push constant 1
eq
not
if-goto ifFalse.720
push constant 506
pop local 0
push local 3
push constant 50
neg
call Math.multiply 2
push local 2
call Math.divide 2
pop local 1
push this 1
push local 1
push local 4
call Math.multiply 2
add
pop local 1
goto endIf.720
label ifFalse.720
push this 14
push constant 2
eq
not
if-goto ifFalse.760
push constant 0
pop local 0
push local 3
push constant 50
call Math.multiply 2
push local 2
call Math.divide 2
pop local 1
push this 1
push local 1
push local 4
call Math.multiply 2
add
pop local 1
goto endIf.760
label ifFalse.760
push this 14
push constant 3
eq
not
if-goto ifFalse.797
push constant 250
pop local 1
push local 2
push constant 25
neg
call Math.multiply 2
push local 3
call Math.divide 2
pop local 0
push this 0
push local 0
push local 4
call Math.multiply 2
add
pop local 0
goto endIf.797
label ifFalse.797
push constant 0
pop local 1
push local 2
push constant 25
call Math.multiply 2
push local 3
call Math.divide 2
pop local 0
push this 0
push local 0
push local 4
call Math.multiply 2
add
pop local 0
label endIf.797
label endIf.760
label endIf.720
push pointer 0
push local 0
push local 1
call Ball.setDestination 3
pop temp 0
push constant 0
return


//class symbol table
//Ball
//name: x
//type: int
//kind: field
//number: 0
//name: y
//type: int
//kind: field
//number: 1
//name: lengthx
//type: int
//kind: field
//number: 2
//name: lengthy
//type: int
//kind: field
//number: 3
//name: d
//type: int
//kind: field
//number: 4
//name: straightD
//type: int
//kind: field
//number: 5
//name: diagonalD
//type: int
//kind: field
//number: 6
//name: invert
//type: boolean
//kind: field
//number: 7
//name: positivex
//type: boolean
//kind: field
//number: 8
//name: positivey
//type: boolean
//kind: field
//number: 9
//name: leftWall
//type: int
//kind: field
//number: 10
//name: rightWall
//type: int
//kind: field
//number: 11
//name: topWall
//type: int
//kind: field
//number: 12
//name: bottomWall
//type: int
//kind: field
//number: 13
//name: wall
//type: int
//kind: field
//number: 14


//method's symbol table
//Ball.new
//name: Ax
//type: int
//kind: argument
//number: 0
//name: Ay
//type: int
//kind: argument
//number: 1
//name: AleftWall
//type: int
//kind: argument
//number: 2
//name: ArightWall
//type: int
//kind: argument
//number: 3
//name: AtopWall
//type: int
//kind: argument
//number: 4
//name: AbottomWall
//type: int
//kind: argument
//number: 5
//name: x
//type: int
//kind: this
//number: 0
//name: y
//type: int
//kind: this
//number: 1
//name: lengthx
//type: int
//kind: this
//number: 2
//name: lengthy
//type: int
//kind: this
//number: 3
//name: d
//type: int
//kind: this
//number: 4
//name: straightD
//type: int
//kind: this
//number: 5
//name: diagonalD
//type: int
//kind: this
//number: 6
//name: invert
//type: boolean
//kind: this
//number: 7
//name: positivex
//type: boolean
//kind: this
//number: 8
//name: positivey
//type: boolean
//kind: this
//number: 9
//name: leftWall
//type: int
//kind: this
//number: 10
//name: rightWall
//type: int
//kind: this
//number: 11
//name: topWall
//type: int
//kind: this
//number: 12
//name: bottomWall
//type: int
//kind: this
//number: 13
//name: wall
//type: int
//kind: this
//number: 14


//method's symbol table
//Ball.dispose
//name: this
//type: Ball
//kind: argument
//number: 0
//name: x
//type: int
//kind: this
//number: 0
//name: y
//type: int
//kind: this
//number: 1
//name: lengthx
//type: int
//kind: this
//number: 2
//name: lengthy
//type: int
//kind: this
//number: 3
//name: d
//type: int
//kind: this
//number: 4
//name: straightD
//type: int
//kind: this
//number: 5
//name: diagonalD
//type: int
//kind: this
//number: 6
//name: invert
//type: boolean
//kind: this
//number: 7
//name: positivex
//type: boolean
//kind: this
//number: 8
//name: positivey
//type: boolean
//kind: this
//number: 9
//name: leftWall
//type: int
//kind: this
//number: 10
//name: rightWall
//type: int
//kind: this
//number: 11
//name: topWall
//type: int
//kind: this
//number: 12
//name: bottomWall
//type: int
//kind: this
//number: 13
//name: wall
//type: int
//kind: this
//number: 14


//method's symbol table
//Ball.show
//name: this
//type: Ball
//kind: argument
//number: 0
//name: x
//type: int
//kind: this
//number: 0
//name: y
//type: int
//kind: this
//number: 1
//name: lengthx
//type: int
//kind: this
//number: 2
//name: lengthy
//type: int
//kind: this
//number: 3
//name: d
//type: int
//kind: this
//number: 4
//name: straightD
//type: int
//kind: this
//number: 5
//name: diagonalD
//type: int
//kind: this
//number: 6
//name: invert
//type: boolean
//kind: this
//number: 7
//name: positivex
//type: boolean
//kind: this
//number: 8
//name: positivey
//type: boolean
//kind: this
//number: 9
//name: leftWall
//type: int
//kind: this
//number: 10
//name: rightWall
//type: int
//kind: this
//number: 11
//name: topWall
//type: int
//kind: this
//number: 12
//name: bottomWall
//type: int
//kind: this
//number: 13
//name: wall
//type: int
//kind: this
//number: 14


//method's symbol table
//Ball.hide
//name: this
//type: Ball
//kind: argument
//number: 0
//name: x
//type: int
//kind: this
//number: 0
//name: y
//type: int
//kind: this
//number: 1
//name: lengthx
//type: int
//kind: this
//number: 2
//name: lengthy
//type: int
//kind: this
//number: 3
//name: d
//type: int
//kind: this
//number: 4
//name: straightD
//type: int
//kind: this
//number: 5
//name: diagonalD
//type: int
//kind: this
//number: 6
//name: invert
//type: boolean
//kind: this
//number: 7
//name: positivex
//type: boolean
//kind: this
//number: 8
//name: positivey
//type: boolean
//kind: this
//number: 9
//name: leftWall
//type: int
//kind: this
//number: 10
//name: rightWall
//type: int
//kind: this
//number: 11
//name: topWall
//type: int
//kind: this
//number: 12
//name: bottomWall
//type: int
//kind: this
//number: 13
//name: wall
//type: int
//kind: this
//number: 14


//method's symbol table
//Ball.draw
//name: this
//type: Ball
//kind: argument
//number: 0
//name: x
//type: int
//kind: this
//number: 0
//name: y
//type: int
//kind: this
//number: 1
//name: lengthx
//type: int
//kind: this
//number: 2
//name: lengthy
//type: int
//kind: this
//number: 3
//name: d
//type: int
//kind: this
//number: 4
//name: straightD
//type: int
//kind: this
//number: 5
//name: diagonalD
//type: int
//kind: this
//number: 6
//name: invert
//type: boolean
//kind: this
//number: 7
//name: positivex
//type: boolean
//kind: this
//number: 8
//name: positivey
//type: boolean
//kind: this
//number: 9
//name: leftWall
//type: int
//kind: this
//number: 10
//name: rightWall
//type: int
//kind: this
//number: 11
//name: topWall
//type: int
//kind: this
//number: 12
//name: bottomWall
//type: int
//kind: this
//number: 13
//name: wall
//type: int
//kind: this
//number: 14


//method's symbol table
//Ball.getLeft
//name: this
//type: Ball
//kind: argument
//number: 0
//name: x
//type: int
//kind: this
//number: 0
//name: y
//type: int
//kind: this
//number: 1
//name: lengthx
//type: int
//kind: this
//number: 2
//name: lengthy
//type: int
//kind: this
//number: 3
//name: d
//type: int
//kind: this
//number: 4
//name: straightD
//type: int
//kind: this
//number: 5
//name: diagonalD
//type: int
//kind: this
//number: 6
//name: invert
//type: boolean
//kind: this
//number: 7
//name: positivex
//type: boolean
//kind: this
//number: 8
//name: positivey
//type: boolean
//kind: this
//number: 9
//name: leftWall
//type: int
//kind: this
//number: 10
//name: rightWall
//type: int
//kind: this
//number: 11
//name: topWall
//type: int
//kind: this
//number: 12
//name: bottomWall
//type: int
//kind: this
//number: 13
//name: wall
//type: int
//kind: this
//number: 14


//method's symbol table
//Ball.getRight
//name: this
//type: Ball
//kind: argument
//number: 0
//name: x
//type: int
//kind: this
//number: 0
//name: y
//type: int
//kind: this
//number: 1
//name: lengthx
//type: int
//kind: this
//number: 2
//name: lengthy
//type: int
//kind: this
//number: 3
//name: d
//type: int
//kind: this
//number: 4
//name: straightD
//type: int
//kind: this
//number: 5
//name: diagonalD
//type: int
//kind: this
//number: 6
//name: invert
//type: boolean
//kind: this
//number: 7
//name: positivex
//type: boolean
//kind: this
//number: 8
//name: positivey
//type: boolean
//kind: this
//number: 9
//name: leftWall
//type: int
//kind: this
//number: 10
//name: rightWall
//type: int
//kind: this
//number: 11
//name: topWall
//type: int
//kind: this
//number: 12
//name: bottomWall
//type: int
//kind: this
//number: 13
//name: wall
//type: int
//kind: this
//number: 14


//method's symbol table
//Ball.setDestination
//name: this
//type: Ball
//kind: argument
//number: 0
//name: destx
//type: int
//kind: argument
//number: 1
//name: desty
//type: int
//kind: argument
//number: 2
//name: dx
//type: int
//kind: var
//number: 0
//name: dy
//type: int
//kind: var
//number: 1
//name: temp
//type: int
//kind: var
//number: 2
//name: x
//type: int
//kind: this
//number: 0
//name: y
//type: int
//kind: this
//number: 1
//name: lengthx
//type: int
//kind: this
//number: 2
//name: lengthy
//type: int
//kind: this
//number: 3
//name: d
//type: int
//kind: this
//number: 4
//name: straightD
//type: int
//kind: this
//number: 5
//name: diagonalD
//type: int
//kind: this
//number: 6
//name: invert
//type: boolean
//kind: this
//number: 7
//name: positivex
//type: boolean
//kind: this
//number: 8
//name: positivey
//type: boolean
//kind: this
//number: 9
//name: leftWall
//type: int
//kind: this
//number: 10
//name: rightWall
//type: int
//kind: this
//number: 11
//name: topWall
//type: int
//kind: this
//number: 12
//name: bottomWall
//type: int
//kind: this
//number: 13
//name: wall
//type: int
//kind: this
//number: 14


//method's symbol table
//Ball.move
//name: this
//type: Ball
//kind: argument
//number: 0
//name: x
//type: int
//kind: this
//number: 0
//name: y
//type: int
//kind: this
//number: 1
//name: lengthx
//type: int
//kind: this
//number: 2
//name: lengthy
//type: int
//kind: this
//number: 3
//name: d
//type: int
//kind: this
//number: 4
//name: straightD
//type: int
//kind: this
//number: 5
//name: diagonalD
//type: int
//kind: this
//number: 6
//name: invert
//type: boolean
//kind: this
//number: 7
//name: positivex
//type: boolean
//kind: this
//number: 8
//name: positivey
//type: boolean
//kind: this
//number: 9
//name: leftWall
//type: int
//kind: this
//number: 10
//name: rightWall
//type: int
//kind: this
//number: 11
//name: topWall
//type: int
//kind: this
//number: 12
//name: bottomWall
//type: int
//kind: this
//number: 13
//name: wall
//type: int
//kind: this
//number: 14


//method's symbol table
//Ball.bounce
//name: this
//type: Ball
//kind: argument
//number: 0
//name: bouncingDirection
//type: int
//kind: argument
//number: 1
//name: newx
//type: int
//kind: var
//number: 0
//name: newy
//type: int
//kind: var
//number: 1
//name: divLengthx
//type: int
//kind: var
//number: 2
//name: divLengthy
//type: int
//kind: var
//number: 3
//name: factor
//type: int
//kind: var
//number: 4
//name: x
//type: int
//kind: this
//number: 0
//name: y
//type: int
//kind: this
//number: 1
//name: lengthx
//type: int
//kind: this
//number: 2
//name: lengthy
//type: int
//kind: this
//number: 3
//name: d
//type: int
//kind: this
//number: 4
//name: straightD
//type: int
//kind: this
//number: 5
//name: diagonalD
//type: int
//kind: this
//number: 6
//name: invert
//type: boolean
//kind: this
//number: 7
//name: positivex
//type: boolean
//kind: this
//number: 8
//name: positivey
//type: boolean
//kind: this
//number: 9
//name: leftWall
//type: int
//kind: this
//number: 10
//name: rightWall
//type: int
//kind: this
//number: 11
//name: topWall
//type: int
//kind: this
//number: 12
//name: bottomWall
//type: int
//kind: this
//number: 13
//name: wall
//type: int
//kind: this
//number: 14


