function Bat.new 0
push constant 5
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 2
push argument 3
pop this 3
push constant 2
pop this 4
call show 0
push pointer 0
return
function Bat.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Bat.show 0
push argument 0
pop pointer 0
push constant 1
not
call Screen.setColor 1
pop temp 0
call draw 0
push constant 0
return
function Bat.hide 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
call draw 0
push constant 0
return
function Bat.draw 0
push argument 0
pop pointer 0
push this 0
push this 1
push this 0
push this 2
add
push this 1
push this 3
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Bat.setDirection 0
push argument 0
pop pointer 0
push argument 1
pop this 4
push constant 0
return
function Bat.getLeft 0
push argument 0
pop pointer 0
push this 0
return
function Bat.getRight 0
push argument 0
pop pointer 0
push this 0
push this 2
add
return
function Bat.setWidth 0
push argument 0
pop pointer 0
call hide 0
push argument 1
pop this 2
call show 0
push constant 0
return
function Bat.move 0
push argument 0
pop pointer 0
push this 4
push constant 1
eq
not
if-goto false.228
push this 0
push constant 4
sub
pop this 0
push this 0
push constant 0
lt
not
if-goto false.242
push constant 0
pop this 0
goto end.242
label false.242
label end.242
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 2
add
push constant 1
add
push this 1
push this 0
push this 2
add
push constant 4
add
push this 1
push this 3
add
call Screen.drawRectangle 4
pop temp 0
push constant 1
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push constant 3
add
push this 1
push this 3
add
call Screen.drawRectangle 4
pop temp 0
goto end.228
label false.228
push this 0
push constant 4
add
pop this 0
push this 0
push this 2
add
push constant 511
gt
not
if-goto false.327
push constant 511
push this 2
sub
pop this 0
goto end.327
label false.327
label end.327
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push constant 4
sub
push this 1
push this 0
push constant 1
sub
push this 1
push this 3
add
call Screen.drawRectangle 4
pop temp 0
push constant 1
not
call Screen.setColor 1
pop temp 0
push this 0
push this 2
add
push constant 3
sub
push this 1
push this 0
push this 2
add
push this 1
push this 3
add
call Screen.drawRectangle 4
pop temp 0
label end.228
push constant 0
return


//class symbol table
//name: x
//type: int
//kind: field
//number: 0
//name: y
//type: int
//kind: field
//number: 1
//name: width
//type: int
//kind: field
//number: 2
//name: height
//type: int
//kind: field
//number: 3
//name: direction
//type: int
//kind: field
//number: 4


//method's symbol table
//name: Ax
//type: int
//kind: argument
//number: 0
//name: Ay
//type: int
//kind: argument
//number: 1
//name: Awidth
//type: int
//kind: argument
//number: 2
//name: Aheight
//type: int
//kind: argument
//number: 3
//name: x
//type: int
//kind: this
//number: 0
//name: y
//type: int
//kind: this
//number: 1
//name: width
//type: int
//kind: this
//number: 2
//name: height
//type: int
//kind: this
//number: 3
//name: direction
//type: int
//kind: this
//number: 4


//method's symbol table
//name: this
//type: Bat
//kind: argument
//number: 0
//name: x
//type: int
//kind: this
//number: 0
//name: y
//type: int
//kind: this
//number: 1
//name: width
//type: int
//kind: this
//number: 2
//name: height
//type: int
//kind: this
//number: 3
//name: direction
//type: int
//kind: this
//number: 4


//method's symbol table
//name: this
//type: Bat
//kind: argument
//number: 0
//name: x
//type: int
//kind: this
//number: 0
//name: y
//type: int
//kind: this
//number: 1
//name: width
//type: int
//kind: this
//number: 2
//name: height
//type: int
//kind: this
//number: 3
//name: direction
//type: int
//kind: this
//number: 4


//method's symbol table
//name: this
//type: Bat
//kind: argument
//number: 0
//name: x
//type: int
//kind: this
//number: 0
//name: y
//type: int
//kind: this
//number: 1
//name: width
//type: int
//kind: this
//number: 2
//name: height
//type: int
//kind: this
//number: 3
//name: direction
//type: int
//kind: this
//number: 4


//method's symbol table
//name: this
//type: Bat
//kind: argument
//number: 0
//name: x
//type: int
//kind: this
//number: 0
//name: y
//type: int
//kind: this
//number: 1
//name: width
//type: int
//kind: this
//number: 2
//name: height
//type: int
//kind: this
//number: 3
//name: direction
//type: int
//kind: this
//number: 4


//method's symbol table
//name: this
//type: Bat
//kind: argument
//number: 0
//name: Adirection
//type: int
//kind: argument
//number: 1
//name: x
//type: int
//kind: this
//number: 0
//name: y
//type: int
//kind: this
//number: 1
//name: width
//type: int
//kind: this
//number: 2
//name: height
//type: int
//kind: this
//number: 3
//name: direction
//type: int
//kind: this
//number: 4


//method's symbol table
//name: this
//type: Bat
//kind: argument
//number: 0
//name: x
//type: int
//kind: this
//number: 0
//name: y
//type: int
//kind: this
//number: 1
//name: width
//type: int
//kind: this
//number: 2
//name: height
//type: int
//kind: this
//number: 3
//name: direction
//type: int
//kind: this
//number: 4


//method's symbol table
//name: this
//type: Bat
//kind: argument
//number: 0
//name: x
//type: int
//kind: this
//number: 0
//name: y
//type: int
//kind: this
//number: 1
//name: width
//type: int
//kind: this
//number: 2
//name: height
//type: int
//kind: this
//number: 3
//name: direction
//type: int
//kind: this
//number: 4


//method's symbol table
//name: this
//type: Bat
//kind: argument
//number: 0
//name: Awidth
//type: int
//kind: argument
//number: 1
//name: x
//type: int
//kind: this
//number: 0
//name: y
//type: int
//kind: this
//number: 1
//name: width
//type: int
//kind: this
//number: 2
//name: height
//type: int
//kind: this
//number: 3
//name: direction
//type: int
//kind: this
//number: 4


//method's symbol table
//name: this
//type: Bat
//kind: argument
//number: 0
//name: x
//type: int
//kind: this
//number: 0
//name: y
//type: int
//kind: this
//number: 1
//name: width
//type: int
//kind: this
//number: 2
//name: height
//type: int
//kind: this
//number: 3
//name: direction
//type: int
//kind: this
//number: 4


