function Point.distance 2
push argument 0
pop pointer 0
push local 0
push constant 2
add
push local 1
push local 0
push constant 3
add
pop pointer 1
push that 0
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
