function foo.bar 1
push argument 0
pop pointer 0
push argument 1
push argument 2
push argument 2
push argument 2
call int.distance 4
pop local 0


//class symbol table


//method's symbol table
//name: this
//type: foo
//kind: argument
//number: 0
//name: p
//type: int
//kind: argument
//number: 1
//name: x
//type: int
//kind: argument
//number: 2
//name: p1
//type: int
//kind: var
//number: 0


