function Main.main 1
push pointer 0
call SquareGame.new 0
pop local 0
push local 0
push pointer 0
call SquareGame.run 1
pop temp 0
push local 0
push pointer 0
call SquareGame.dispose 1
pop temp 0
push constant 0
return


//class symbol table


//method's symbol table
//name: game
//type: SquareGame
//kind: var
//number: 0


