function SquareGame.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push constant 0
push constant 0
push constant 30
call Square.new 3
pop this 0
push constant 0
pop this 1
push pointer 0
return
function SquareGame.dispose 0
push argument 0
pop pointer 0
push this 0
push pointer 0
call Square.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function SquareGame.moveSquare 0
push argument 0
pop pointer 0
push this 1
push constant 1
eq
not
if-goto ifFalse.70
push this 0
push pointer 0
call Square.moveUp 1
pop temp 0
goto endIf.70
label ifFalse.70
label endIf.70
push this 1
push constant 2
eq
not
if-goto ifFalse.85
push this 0
push pointer 0
call Square.moveDown 1
pop temp 0
goto endIf.85
label ifFalse.85
label endIf.85
push this 1
push constant 3
eq
not
if-goto ifFalse.100
push this 0
push pointer 0
call Square.moveLeft 1
pop temp 0
goto endIf.100
label ifFalse.100
label endIf.100
push this 1
push constant 4
eq
not
if-goto ifFalse.115
push this 0
push pointer 0
call Square.moveRight 1
pop temp 0
goto endIf.115
label ifFalse.115
label endIf.115
push constant 5
call Sys.wait 1
pop temp 0
push constant 0
return
function SquareGame.run 2
push argument 0
pop pointer 0
push constant 0
pop local 1
label WhileTrue.160
push local 1
not
not
if-goto endWhile.160
label WhileTrue.166
push local 0
push constant 0
eq
not
if-goto endWhile.166
push pointer 0
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call SquareGame.moveSquare 1
pop temp 0
goto WhileTrue.166
label endWhile.166
push local 0
push constant 81
eq
not
if-goto ifFalse.188
push constant 1
neg
pop local 1
goto endIf.188
label ifFalse.188
label endIf.188
push local 0
push constant 90
eq
not
if-goto ifFalse.201
push this 0
push pointer 0
call Square.decSize 1
pop temp 0
goto endIf.201
label ifFalse.201
label endIf.201
push local 0
push constant 88
eq
not
if-goto ifFalse.216
push this 0
push pointer 0
call Square.incSize 1
pop temp 0
goto endIf.216
label ifFalse.216
label endIf.216
push local 0
push constant 131
eq
not
if-goto ifFalse.231
push constant 1
pop this 1
goto endIf.231
label ifFalse.231
label endIf.231
push local 0
push constant 133
eq
not
if-goto ifFalse.244
push constant 2
pop this 1
goto endIf.244
label ifFalse.244
label endIf.244
push local 0
push constant 130
eq
not
if-goto ifFalse.257
push constant 3
pop this 1
goto endIf.257
label ifFalse.257
label endIf.257
push local 0
push constant 132
eq
not
if-goto ifFalse.270
push constant 4
pop this 1
goto endIf.270
label ifFalse.270
label endIf.270
label WhileTrue.283
push local 0
push constant 0
eq
not
not
if-goto endWhile.283
push pointer 0
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call SquareGame.moveSquare 1
pop temp 0
goto WhileTrue.283
label endWhile.283
goto WhileTrue.160
label endWhile.160
push constant 0
return


//class symbol table
//name: square
//type: Square
//kind: field
//number: 0
//name: direction
//type: int
//kind: field
//number: 1


//method's symbol table
//name: square
//type: Square
//kind: this
//number: 0
//name: direction
//type: int
//kind: this
//number: 1


//method's symbol table
//name: this
//type: SquareGame
//kind: argument
//number: 0
//name: square
//type: Square
//kind: this
//number: 0
//name: direction
//type: int
//kind: this
//number: 1


//method's symbol table
//name: this
//type: SquareGame
//kind: argument
//number: 0
//name: square
//type: Square
//kind: this
//number: 0
//name: direction
//type: int
//kind: this
//number: 1


//method's symbol table
//name: this
//type: SquareGame
//kind: argument
//number: 0
//name: key
//type: char
//kind: var
//number: 0
//name: exit
//type: boolean
//kind: var
//number: 1
//name: square
//type: Square
//kind: this
//number: 0
//name: direction
//type: int
//kind: this
//number: 1


