function Sys.init 0
function Sys.halt 0
function Sys.wait 0
function Sys.error 0


//class symbol table
//Sys


//method's symbol table
//Sys.init


//method's symbol table
//Sys.halt


//method's symbol table
//Sys.wait
//name: duration
//type: int
//kind: argument
//number: 0


//method's symbol table
//Sys.error
//name: errorCode
//type: int
//kind: argument
//number: 0


