function Ball.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push pointer 0
return
function Ball.draw 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push constant 4
call Screen.drawCircle 3
pop temp 0
push constant 0
return
function Ball.erase 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push constant 4
call Screen.drawCircle 3
pop temp 0
push constant 0
return
function Ball.pitch 0
push argument 0
pop pointer 0
push this 1
push constant 248
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push pointer 0
call Ball.erase 1
pop temp 0
push this 1
push constant 5
add
pop this 1
push pointer 0
call Ball.draw 1
pop temp 0
push constant 0
return
function Ball.distance 3
push argument 0
pop pointer 0
push this 0
push argument 1
sub
push this 0
push argument 1
sub
call Math.multiply 2
pop local 0
push this 1
push argument 2
sub
push this 1
push argument 2
sub
call Math.multiply 2
pop local 1
push local 0
push local 1
add
call Math.sqrt 1
pop local 2
push local 2
return
function Ball.contact 0
push argument 0
pop pointer 0
push pointer 0
push argument 1
call Bat.getX 1
push argument 1
call Bat.getY 1
call Ball.distance 3
push constant 10
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
label IF_FALSE0
push constant 0
return
