function Bat.new 0
push constant 4
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push constant 0
pop this 2
push constant 0
pop this 3
push pointer 0
return
function Bat.getIsHorizontal 0
push argument 0
pop pointer 0
push this 2
return
function Bat.getSwungBat 0
push argument 0
pop pointer 0
push this 3
return
function Bat.getX 0
push argument 0
pop pointer 0
push this 0
return
function Bat.getY 0
push argument 0
pop pointer 0
push this 1
return
function Bat.drawVertical 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push constant 6
add
push this 1
push constant 24
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Bat.drawHorizontal 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push constant 24
add
push this 1
push constant 6
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
not
pop this 2
push constant 0
return
function Bat.eraseVertical 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push constant 6
add
push this 1
push constant 24
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Bat.eraseHorizontal 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push constant 24
add
push this 1
push constant 6
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
