function Main.main 4
push constant 0
call Player.new 1
pop local 0
push constant 0
pop local 1
label WHILE_EXP0
push local 1
not
not
if-goto WHILE_END0
push constant 255
push constant 100
call Ball.new 2
pop local 2
push constant 240
push constant 226
call Bat.new 2
pop local 3
push local 2
call Ball.draw 1
pop temp 0
push constant 22
push constant 7
call Output.moveCursor 2
pop temp 0
push local 0
call Player.getNumHits 1
call Output.printInt 1
pop temp 0
push local 3
call Bat.drawVertical 1
pop temp 0
label WHILE_EXP1
push constant 0
not
not
if-goto WHILE_END1
call Keyboard.keyPressed 0
push constant 32
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 3
call Bat.getIsHorizontal 1
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 3
call Bat.eraseVertical 1
pop temp 0
push local 3
call Bat.drawHorizontal 1
pop temp 0
push local 2
push local 3
call Ball.contact 2
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 0
call Player.increaseNumHits 1
pop temp 0
push constant 22
push constant 7
call Output.moveCursor 2
pop temp 0
push local 0
call Player.getNumHits 1
call Output.printInt 1
pop temp 0
goto IF_END2
label IF_FALSE2
push constant 0
not
pop local 1
label IF_END2
label IF_FALSE1
label IF_FALSE0
push local 2
call Ball.pitch 1
pop temp 0
push local 2
call Ball.erase 1
pop temp 0
push constant 17
call Sys.wait 1
pop temp 0
goto WHILE_EXP1
label WHILE_END1
push constant 0
return
goto WHILE_EXP0
label WHILE_END0
