function Ball.new 0
push constant 3
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 2
push pointer 0
return
function Ball.getY 0
push argument 0
pop pointer 0
push this 1
return
function Ball.getStillPitching 0
push argument 0
pop pointer 0
push this 2
return
function Ball.setStillPitching 0
push argument 0
pop pointer 0
push argument 1
pop this 2
push constant 0
return
function Ball.draw 0
push argument 0
pop pointer 0
push constant 1
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push constant 4
call Screen.drawCircle 3
pop temp 0
push constant 0
return
function Ball.erase 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push constant 4
call Screen.drawCircle 3
pop temp 0
push constant 0
return
function Ball.pitch 0
push argument 0
pop pointer 0
push argument 1
push constant 0
eq
not
if-goto ifFalse.156
call pitchFast 0
goto endIf.156
label ifFalse.156
label endIf.156
push argument 1
push constant 1
eq
not
if-goto ifFalse.169
call pitchSlow 0
goto endIf.169
label ifFalse.169
label endIf.169
push argument 1
push constant 2
eq
not
if-goto ifFalse.182
push argument 2
call pitchCurveLeft 1
goto endIf.182
label ifFalse.182
label endIf.182
push argument 1
push constant 3
eq
not
if-goto ifFalse.196
push argument 3
call pitchCurveRight 1
goto endIf.196
label ifFalse.196
label endIf.196
push constant 0
return
function Ball.pitchFast 0
push argument 0
pop pointer 0
push this 1
push constant 248
gt
not
if-goto ifFalse.219
push constant 0
pop this 2
push constant 0
return
goto endIf.219
label ifFalse.219
label endIf.219
call erase 0
push this 1
push constant 5
add
pop this 1
call draw 0
push constant 0
return
function Ball.pitchSlow 0
push argument 0
pop pointer 0
push this 1
push constant 245
gt
not
if-goto ifFalse.260
push constant 0
pop this 2
push constant 0
return
goto endIf.260
label ifFalse.260
label endIf.260
call erase 0
push this 1
push constant 2
add
pop this 1
call draw 0
push constant 0
return
function Ball.resetBall 0
push argument 0
pop pointer 0
call erase 0
push constant 255
pop this 0
push constant 100
pop this 1
push constant 600
call Sys.wait 1
pop temp 0
call draw 0
push constant 0
return
function Ball.distance 3
push argument 0
pop pointer 0
push this 0
push argument 1
sub
push this 0
push argument 1
sub
call Math.multiply 2
pop local 0
push this 1
push argument 2
sub
push this 1
push argument 2
sub
call Math.multiply 2
pop local 1
push local 0
push local 1
add
call Math.sqrt 1
pop local 2
push local 2
return
function Ball.contact 0
push argument 0
pop pointer 0
push argument 1
call Bat.getY 1
push this 1
lt
not
if-goto ifFalse.411
push argument 1
call Bat.drawHorizontal 1
pop temp 0
push constant 0
return
goto endIf.411
label ifFalse.411
label endIf.411
push argument 1
call Bat.getX 1
push argument 1
call Bat.getY 1
call distance 2
push constant 49
gt
not
if-goto ifFalse.433
push argument 1
call Bat.drawHorizontal 1
pop temp 0
push constant 0
return
goto endIf.433
label ifFalse.433
label endIf.433
push constant 1
not
return
function Ball.pitchCurveLeft 0
push argument 0
pop pointer 0
push this 1
push constant 247
gt
not
if-goto ifFalse.476
push constant 0
pop this 2
push constant 0
return
goto endIf.476
label ifFalse.476
label endIf.476
call erase 0
push this 1
push constant 4
add
pop this 1
push this 1
push argument 1
call Vertex.getY 1
lt
not
if-goto ifFalse.503
push this 0
push constant 4
sub
pop this 0
goto endIf.503
label ifFalse.503
push this 0
push constant 4
add
pop this 0
label endIf.503
call draw 0
push constant 0
return
function Ball.pitchCurveRight 0
push argument 0
pop pointer 0
push this 1
push constant 247
gt
not
if-goto ifFalse.548
push constant 0
pop this 2
push constant 0
return
goto endIf.548
label ifFalse.548
label endIf.548
call erase 0
push this 1
push constant 4
add
pop this 1
push this 1
push argument 1
call Vertex.getY 1
lt
not
if-goto ifFalse.575
push this 0
push constant 4
add
pop this 0
goto endIf.575
label ifFalse.575
push this 0
push constant 4
sub
pop this 0
label endIf.575
call draw 0
push constant 0
return
function Ball.calcXLeft 2
push argument 0
pop pointer 0
push this 1
push argument 1
call Vertex.getY 1
sub
pop local 1
push local 1
push local 1
call Math.multiply 2
push argument 1
call Vertex.getX 1
add
pop local 0
push local 0
return
function Ball.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.dealloc 1
push constant 0
return


//class symbol table
//name: x
//type: int
//kind: field
//number: 0
//name: y
//type: int
//kind: field
//number: 1
//name: stillPitching
//type: boolean
//kind: field
//number: 2


//method's symbol table
//name: _x
//type: int
//kind: argument
//number: 0
//name: _y
//type: int
//kind: argument
//number: 1
//name: _still
//type: boolean
//kind: argument
//number: 2
//name: x
//type: int
//kind: this
//number: 0
//name: y
//type: int
//kind: this
//number: 1
//name: stillPitching
//type: boolean
//kind: this
//number: 2


//method's symbol table
//name: this
//type: Ball
//kind: argument
//number: 0
//name: x
//type: int
//kind: this
//number: 0
//name: y
//type: int
//kind: this
//number: 1
//name: stillPitching
//type: boolean
//kind: this
//number: 2


//method's symbol table
//name: this
//type: Ball
//kind: argument
//number: 0
//name: x
//type: int
//kind: this
//number: 0
//name: y
//type: int
//kind: this
//number: 1
//name: stillPitching
//type: boolean
//kind: this
//number: 2


//method's symbol table
//name: this
//type: Ball
//kind: argument
//number: 0
//name: sp
//type: boolean
//kind: argument
//number: 1
//name: x
//type: int
//kind: this
//number: 0
//name: y
//type: int
//kind: this
//number: 1
//name: stillPitching
//type: boolean
//kind: this
//number: 2


//method's symbol table
//name: this
//type: Ball
//kind: argument
//number: 0
//name: x
//type: int
//kind: this
//number: 0
//name: y
//type: int
//kind: this
//number: 1
//name: stillPitching
//type: boolean
//kind: this
//number: 2


//method's symbol table
//name: this
//type: Ball
//kind: argument
//number: 0
//name: x
//type: int
//kind: this
//number: 0
//name: y
//type: int
//kind: this
//number: 1
//name: stillPitching
//type: boolean
//kind: this
//number: 2


//method's symbol table
//name: this
//type: Ball
//kind: argument
//number: 0
//name: i
//type: int
//kind: argument
//number: 1
//name: left
//type: Vertex
//kind: argument
//number: 2
//name: right
//type: Vertex
//kind: argument
//number: 3
//name: x
//type: int
//kind: this
//number: 0
//name: y
//type: int
//kind: this
//number: 1
//name: stillPitching
//type: boolean
//kind: this
//number: 2


//method's symbol table
//name: this
//type: Ball
//kind: argument
//number: 0
//name: x
//type: int
//kind: this
//number: 0
//name: y
//type: int
//kind: this
//number: 1
//name: stillPitching
//type: boolean
//kind: this
//number: 2


//method's symbol table
//name: this
//type: Ball
//kind: argument
//number: 0
//name: x
//type: int
//kind: this
//number: 0
//name: y
//type: int
//kind: this
//number: 1
//name: stillPitching
//type: boolean
//kind: this
//number: 2


//method's symbol table
//name: this
//type: Ball
//kind: argument
//number: 0
//name: x
//type: int
//kind: this
//number: 0
//name: y
//type: int
//kind: this
//number: 1
//name: stillPitching
//type: boolean
//kind: this
//number: 2


//method's symbol table
//name: this
//type: Ball
//kind: argument
//number: 0
//name: batX
//type: int
//kind: argument
//number: 1
//name: batY
//type: int
//kind: argument
//number: 2
//name: xDistance
//type: int
//kind: var
//number: 0
//name: yDistance
//type: int
//kind: var
//number: 1
//name: dist
//type: int
//kind: var
//number: 2
//name: x
//type: int
//kind: this
//number: 0
//name: y
//type: int
//kind: this
//number: 1
//name: stillPitching
//type: boolean
//kind: this
//number: 2


//method's symbol table
//name: this
//type: Ball
//kind: argument
//number: 0
//name: bat
//type: Bat
//kind: argument
//number: 1
//name: x
//type: int
//kind: this
//number: 0
//name: y
//type: int
//kind: this
//number: 1
//name: stillPitching
//type: boolean
//kind: this
//number: 2


//method's symbol table
//name: this
//type: Ball
//kind: argument
//number: 0
//name: vertex
//type: Vertex
//kind: argument
//number: 1
//name: x
//type: int
//kind: this
//number: 0
//name: y
//type: int
//kind: this
//number: 1
//name: stillPitching
//type: boolean
//kind: this
//number: 2


//method's symbol table
//name: this
//type: Ball
//kind: argument
//number: 0
//name: vertex
//type: Vertex
//kind: argument
//number: 1
//name: x
//type: int
//kind: this
//number: 0
//name: y
//type: int
//kind: this
//number: 1
//name: stillPitching
//type: boolean
//kind: this
//number: 2


//method's symbol table
//name: this
//type: Ball
//kind: argument
//number: 0
//name: vertex
//type: Vertex
//kind: argument
//number: 1
//name: xCoord
//type: int
//kind: var
//number: 0
//name: yAxis
//type: int
//kind: var
//number: 1
//name: x
//type: int
//kind: this
//number: 0
//name: y
//type: int
//kind: this
//number: 1
//name: stillPitching
//type: boolean
//kind: this
//number: 2


//method's symbol table
//name: this
//type: Ball
//kind: argument
//number: 0
//name: x
//type: int
//kind: this
//number: 0
//name: y
//type: int
//kind: this
//number: 1
//name: stillPitching
//type: boolean
//kind: this
//number: 2


