function Main.main 8
push constant 1
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant Game Over!
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
call Player.new 1
pop temp 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 255
push constant 100
push constant 1
not
call Ball.new 3
pop temp 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 200
push constant 163
call Vertex.new 2
pop temp 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 310
push constant 163
call Vertex.new 2
pop temp 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 240
push constant 226
call Bat.new 2
pop temp 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 777
call Random.init 1
pop temp 0
push local 1
call Ball.draw 1
pop temp 0
push constant 22
push constant 7
call Output.moveCursor 2
pop temp 0
push local 0
call Player.getNumHits 1
pop temp 0
call Output.printInt 1
pop temp 0
push local 2
call Bat.drawVertical 1
pop temp 0
label true.160
push local 6
not
if-goto end.160
push local 1
call Ball.getStillPitching 1
pop temp 0
push constant 0
eq
not
if-goto false.165
call Random.nextInt 0
pop temp 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
not
call Ball.setStillPitching 2
pop temp 0
goto end.165
label false.165
label end.165
push constant 8
push constant 7
call Output.moveCursor 2
pop temp 0
push local 7
call Output.printInt 1
pop temp 0
label true.212
push local 1
call Ball.getStillPitching 1
pop temp 0
not
if-goto end.212
call Keyboard.keyPressed 0
pop temp 0
push constant 32
eq
not
if-goto false.221
push local 1
push constant 0
call Ball.setStillPitching 2
pop temp 0
push local 2
call Bat.getIsHorizontal 1
pop temp 0
not
not
if-goto false.240
push local 2
call Bat.eraseVertical 1
pop temp 0
push local 2
call Bat.drawHorizontal 1
pop temp 0
push local 1
push local 2
call Ball.contact 2
pop temp 0
not
if-goto false.264
push local 2
call Bat.drawHorizontal 1
pop temp 0
push local 0
call Player.increaseNumHits 1
pop temp 0
push constant 22
push constant 7
call Output.moveCursor 2
pop temp 0
push local 0
call Player.getNumHits 1
pop temp 0
call Output.printInt 1
pop temp 0
push constant 250
call Sys.wait 1
pop temp 0
push local 2
call Bat.resetBat 1
pop temp 0
push local 1
call Ball.resetBall 1
pop temp 0
goto end.264
label false.264
push local 2
call Bat.drawHorizontal 1
pop temp 0
push constant 5
push constant 7
call Output.moveCursor 2
pop temp 0
push local 5
call Output.printString 1
pop temp 0
push local 2
call Bat.drawHorizontal 1
pop temp 0
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
label end.264
goto end.240
label false.240
label end.240
goto end.221
label false.221
label end.221
push local 1
push local 7
push local 3
push local 4
call Ball.pitch 4
pop temp 0
push constant 17
call Sys.wait 1
pop temp 0
push local 1
call Ball.getY 1
pop temp 0
push constant 246
not
if-goto false.395
push constant 5
push constant 7
call Output.moveCursor 2
pop temp 0
push local 5
call Output.printString 1
pop temp 0
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
goto end.395
label false.395
label end.395
label end.212
label end.160
push local 1
call Ball.dispose 1
pop temp 0
push local 2
call Bat.dispose 1
pop temp 0
push local 0
call Player.dispose 1
pop temp 0
push local 3
call Vertex.dispose 1
pop temp 0
push constant 0
return


//class symbol table


//method's symbol table
//name: i
//type: int
//kind: var
//number: 7


