function Random.init 0
push constant 100
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2345s
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push argument 0
push static 3
call Random.mod 2
pop temp 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Random.mod 0
push argument 0
call Math.abs 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push argument 1
call Math.abs 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push argument 0
push argument 1
push argument 0
push argument 1
call Math.divide 2
call Math.multiply 2
sub
return
function Random.nextInt 0
push static 0
push static 1
call Math.multiply 2
push static 2
add
push static 3
call Random.mod 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 0
push constant 1
not
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 0
push static 1
call Math.multiply 2
push static 2
add
push static 3
call Random.mod 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 0
push constant 1
not
add
push constant 3
call Math.multiply 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 0
push static 1
call Math.multiply 2
push static 2
add
push static 3
call Random.mod 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 0
return
